body {
  margin: 150px 50px auto;
  text-align: center;
  font-family: "Londrina Solid", cursive;
  font-size: 32px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.contact-page-background {
  background: white;
}

p {
  font-size: 24px;
  font-weight: 300;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

footer {
  padding-top: 50px;
}

.fab {
  font-size: 28px;
}

.fa-facebook-square {
  color: #0e1f56;
}

.fa-tiktok {
  color: black;
}

.fa-instagram {
  color: #e1306c;
}

.fa-youtube {
  color: red;
}

.heading {
  font-size: 80px;
}

.video-description {
  max-width: 560px;
  margin: auto;
}

.description {
  font-size: 20px;
}

.btn-youtube {
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px 24px;
  font-size: 20px;
  color: white;
  background: red;
  margin-bottom: 40px;
}

.developer {
  color: rgb(46, 46, 46);
}

.developer:hover {
  color: red;
  text-decoration: none;
}

.mission {
  margin: auto;
  margin-top: 30px;
  max-width: 60%;
}

.creators {
  padding: 10px 24px;
}

@media (max-width: 1300px) {
  .youtube-video {
    height: 243px;
    width: 432px;
  }
  .description {
    width: 432px;
    margin: auto;
  }
}

@media (min-width: 991px) {
  .youtube-link {
    display: none;
  }
  .mission {
    margin: auto;
    max-width: 70%;
  }
  .video-description,
  .description {
    margin: auto;
  }
}

@media (max-width: 684px) {
  body {
    margin: 100px 10px auto;
  }
  .heading {
    font-size: 42px;
  }
  .subheading {
    font-size: 24px;
  }
  p,
  .description {
    font-size: 18px;
    margin: auto;
  }
  .mission {
    margin: auto;
    max-width: 80%;
  }
}

@media (max-width: 460px) {
  .youtube-video {
    height: 153px;
    width: 272px;
  }
  .video-description,
  .description {
    width: 272px;
    margin: auto;
  }
}

@media (max-width: 412px) {
  body {
    margin: 50px 10px auto;
  }
  .heading {
    font-size: 34px;
  }
  .subheading {
    font-size: 20px;
  }
  p,
  .description {
    font-size: 18px;
  }
  .mission {
    margin: auto;
    max-width: 90%;
  }
}
